---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<div id="usps" {...storyblokEditable(blok)}>
    <div class='container h-screen grid grid-cols-3 gap-12 bg-neutral-50 rounded-t-2xl pt-10'>
        {
            blok.columns?.map((blok: unknown) => {
                return <StoryblokComponent blok={blok} />
            })
        }
    </div>
</div>
