---
import { storyblokEditable } from '@storyblok/astro'
import { renderRichText } from '@storyblok/astro'
import Hero from '../components/Hero'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.description)
---

<div class="bg-primary min-h-[calc(100vh-174px)] pb-16" {...storyblokEditable(blok)}>
    <h2 class="text-9xl text-neutral-50 animate-text-scroll whitespace-nowrap">{blok.title}</h2>
    <div class="container">
        <div class="flex justify-between items-end gap-8 mt-12 pl-4">
            <Hero 
                client:load
                description={renderedRichText}
            />
            <div class="absolute bottom-8 right-28">
                <a 
                    href={blok.link.url}
                    class="flex flex-col items-center justify-center h-32 w-32 bg-white rounded-full transition-colors text-brown hover:text-brown"
                >
                    <!-- <h3 class="text-xl uppercase mb-2">{blok.buttonText}</h3> -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 animate-bounce">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                      </svg>                      
                </a>
            </div>
        </div>
    </div>
</div>
