---
import { storyblokEditable } from '@storyblok/astro'
import { renderRichText } from '@storyblok/astro'

const { blok } = Astro.props

const renderedRichText = renderRichText(blok.text)
---

<div class="bg-primary pb-16" {...storyblokEditable(blok)}>
    <h1 class='text-center text-4xl font-bold text-black py-12'>
        {blok.headline}
    </h2>
    <div set:html={renderedRichText} class='text-center mb-12'></div>
</div>
