---
import { useStoryblokApi } from '@storyblok/astro';
import { locale } from '../store';
import Layout from '../layouts/Layout.astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const sbApi = useStoryblokApi()

const { data } = await sbApi.get('cdn/stories/home', {
	version: 'draft',
	language: 'nl'
})

const story = data.story
---

<Layout title="SK HR Consulting | Homepage">
	<main>
		<StoryblokComponent blok={story.content} />
	</main>
</Layout>
