---
import LanguageSwitcher from "./LanguageSwitcher";
import Menu from "./Menu";
---

<section class="bg-primary pb-6">
    <div class="container flex justify-between items-center">
        <a href="/" aria-label="Click here to visit the homepage">
            <img src="/logo.svg" alt="" role="presentation" height="150px" width="150px"/>
        </a>
        <div class="flex items-center">
            <LanguageSwitcher client:load/>
            <Menu client:load/>
        </div>
    </div>
</section>