<section 
    id="opening-animation"
    class="bg-brown fixed inset-0 flex justify-center items-center transition duration-700 ease-in-out z-50"
>
    <span class="intro-span text-8xl text-primary opacity-0 translate-y-10 transition duration-500 ease-in-out">HEY</span>
    <span class="intro-span text-8xl text-primary opacity-0 translate-y-10 transition duration-500 ease-in-out">.</span>
</section>

<script>
    const introElement = document.getElementById('opening-animation')
    const introSpan = document.querySelectorAll('.intro-span')
    const storage = window.sessionStorage
    const getFirstLoadDone = storage.getItem('firstLoadDone')
    const setFirstLoadDone = storage.setItem('firstLoadDone', 'true')

    const openingAnimation = async () => {
        window.addEventListener('DOMContentLoaded', () => {
            introSpan.forEach((span, index) => {
                setTimeout(() => {
                    span.classList.remove('opacity-0', 'translate-y-10')
                    span.classList.add('opacity-1', 'translate-y-0')
                }, (index + 1) * 1000)
            })
    
            setTimeout(() => {
                introSpan.forEach((span) => {
                    span.classList.remove('opacity-1', 'translate-y-0', 'duration-500')
                    span.classList.add('opacity-0', '-translate-y-24', 'duration-700')
                })
            }, 3000)
    
            setTimeout(() => {
                introElement.classList.add('-translate-y-full')
            }, 3250)
        })
    }

    if(getFirstLoadDone === null) {
        openingAnimation()
        
        setTimeout(() => {
            setFirstLoadDone
        }, 2000)
    } else {
        introElement.remove()
    }
</script>